@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background: #cfe9ff;
}
::selection{
    color: #f2f3f5;
    background-color: #0a8c26;
    padding: 100px;
}
.bg-base{
    background-color: #2D0A31;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-weight: bolder;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar {
    padding: 15px 10px;
    background: #2D0A31;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.navbar-btn:hover{
    font-weight: bold;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: white !important;
    color: #060721 !important;
    font-weight: bold;
}
.card-img-top-c {
    width: auto!important;
    border-radius: 0.75rem;
}
.dashboard-bg{
    background-color: #2D0A31;
}
.dashboard-card-min-height-100{
    min-height: 150px;
}