<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Registration | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" th:href="@{/images/car-logo.png}" type="image">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 h-auto min-vh-100" id="sidebar_div"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName}, currentUserLogo=${currentUserLogo}, currentUserType=${user_type})}"></div>

    <div class="col-md-10" id="content_div">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0">
            <h2 class="justify-content-center d-flex">Car</h2>
            <hr>
            <!--              Car Registration  Form -->
            <div th:if="${user_type == 'ADMIN'}">
                <button class="btn py-2 mx-2 btn-dark col-md-3" data-bs-target="#carRegModel" data-bs-toggle="modal"
                        type="button">Add New Car
                </button>
                <h6 class="bg-success justify-content-center d-flex text-white p-2 mt-2" th:if="${success}"
                    th:text="${success}"></h6>
                <hr>
            </div>
        </div>
        <!--            Car Report-->
        <div class="row p-2 m-0 ">
            <table class="table table-hover table-striped table-bordered dataTable no-footer">
                <thead class="thead-dark text-center">
                <tr role="row">
                    <th class="align-middle">SL#</th>
                    <th class="align-middle">Car Name</th>
                    <th class="align-middle">Car No</th>
                    <th class="align-middle">Car Engine No</th>
                    <th class="align-middle">Car Chassis No</th>
                    <th class="align-middle">Car Owner Name</th>
                    <th class="align-middle">Car Color</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" th:each="car, i : ${cars}">
                    <th scope="row" th:text="${i.count}"></th>
                    <td th:text="${car.car_name}"></td>
                    <td th:text="${car.car_no}"></td>
                    <td th:text="${car.engine_no}"></td>
                    <td th:text="${car.chassis_no}"></td>
                    <td th:text="${car.owner_name}"></td>
                    <td th:text="${car.car_color}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="empRegModelLabel" class="modal fade" id="carRegModel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="empRegModelLabel">Car Registration Form</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body px-3">
                <form class="row g-3" csrf method="POST" th:action="@{/car-registration-form}" th:object="${car}">
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_name">Car Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_name" name="car_name" placeholder="Enter Car Name" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_no">Car No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_no" name="car_no" placeholder="Enter Car No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="engine_no">Car Engine No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="engine_no" name="engine_no" placeholder="Enter Car Engine No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="chassis_no">Car Chassis No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="chassis_no" name="chassis_no" placeholder="Enter Car Chassis No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="owner_name">Car Owner Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="owner_name" name="owner_name" placeholder="Enter Car Owner Name" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_color">Car Color</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_color" name="car_color" placeholder="Enter Car Color" required
                               type="text">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    //Active Menu
    document.getElementById('car-registration').classList.add('active');


</script>
</body>
</html>