<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Expense | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" th:href="@{/images/car-logo.png}" type="image">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 h-auto min-vh-100" id="sidebar_div"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName}, currentUserLogo=${currentUserLogo}, currentUserType=${user_type})}"></div>
    <div class="col-md-10" id="content_div">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0">
            <h2 class="justify-content-center d-flex">Car Expense</h2>
            <hr>
            <!--              Car Expense  Form -->
            <div>
                <button class=" btn py-2 mx-2 btn-dark col-md-3" data-bs-target="#carExpenseModal"
                        data-bs-toggle="modal" th:if="${user_type == 'ACCOUNTS' || user_type == 'DRIVER'}"
                        type="button">Add Car Expense
                </button>
                <h6 class="bg-success justify-content-center d-flex text-white p-2 mt-2" th:if="${success}"
                    th:text="${success}">
                </h6>
                <hr>
            </div>
        </div>
        <!--            Car Report-->
        <div class="row p-2 m-0 ">
            <table class="table table-hover table-striped table-bordered dataTable no-footer">
                <thead class="bg-primary text-center">
                <tr role="row">
                    <th class="align-middle">SL#</th>
                    <th class="align-middle">Date</th>
                    <th class="align-middle">Car</th>
                    <th class="align-middle">Driver</th>
                    <th class="align-middle">Purpose</th>
                    <th class="align-middle">Amount</th>
                    <th class="align-middle">Invoice No</th>
                    <th class="align-middle">Invoice</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" th:each="list, i : ${expenseList}">
                    <th scope="row" th:text="${i.count}"></th>
                    <td th:text="${list.date}"></td>
                    <td th:text="${list.car.car_name}"></td>
                    <td th:text="${list.driver.name}"></td>
                    <td th:text="${list.purpose}"></td>
                    <td th:text="${list.amount}"></td>
                    <td th:text="${list.invoice_no}"></td>
                    <td th:if="${list.memo_image_path}">
                        <button class="img-btn"
                                data-bs-target="#imageModal" data-bs-toggle="modal"
                                th:attr="data-img-src=${list.memo_image_path}">
                            <img class="card-img-top" height="50px" th:alt="${list.date}" th:src="${list.memo_image_path}"
                                 width="100%">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="imageModalLabel" class="modal fade" id="imageModal" tabindex="-1">
    <div class="modal-dialog modal-lg-700 modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fw-bold fs-5" id="imageModalLabel">Invoice Photo</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body p-0">
                <img alt="Invoice" class="image-fluid w-100" id="imageModalId" src="">
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="carExpenseModalLabel" class="modal fade" id="carExpenseModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="carExpenseModalLabel">Car Expense Form</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body px-3">
                <form class="row g-3" csrf enctype="multipart/form-data" th:action="@{/car-expense-form}"
                      th:method="POST" th:object="${carExpense}">
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="date">Date</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="date" name="date" placeholder="Enter Date" required
                               type="date">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </div>
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="driver_id">Select Driver</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="driver_id" name="driver_id" required>
                            <option th:each="driver : ${drivers}"
                                    th:text="${driver.name}"
                                    th:value="${driver.id}">
                                <input id="driver_name" name="driver_name" th:value="${driver.name}" type="hidden">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="car_id">Select Car</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="car_id" name="car_id" required>
                            <option th:each="car : ${cars}"
                                    th:text="${car.car_name} + ' ('+${car.car_no}+')'"
                                    th:value="${car.id}">
                                <input id="car_name" name="car_name" th:value="${car.car_name}" type="hidden">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="purpose">Purpose</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="purpose" name="purpose" required>
                            <option selected value="0">Choose...</option>
                            <option value="CNG">CNG</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Service & Repair">Service & Repair</option>
                            <option value="Toll">Toll</option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="amount">Amount</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="amount" min="1" name="amount" placeholder="Enter Amount" required
                               type="number">
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="invoice_no">Invoice No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="invoice_no" min="1" name="invoice_no" placeholder="Enter Invoice No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="image">Invoice Image</label>
                        <span class="text-danger">*</span>
                        <input accept="image/png, image/jpeg" class="form-control" id="image" name="image" required type="file">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".img-btn").click(function() {
            const src = $(this).data("img-src");
            document.getElementById("imageModalId").src = src;
            console.log(src);
        });
    });

    //Active Menu
    document.getElementById('car-expense').classList.add('active');
    // For Approve Request


    $(document).ready(function() {
        $(".approve-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            document.getElementById("schedule_id").value = scheduleId;
        });
        $(".cancel-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            $.ajax({
                type: "PUT",
                url: "/api/carSchedule/" + scheduleId,
                dataType: "json", // Specify JSON data type
                success: function() {
                    console.log("Success");
                }
            });
        });


        function validateForm() {
            let driver_id = document.forms["carRequestApprove"]["driver_id"].value;
            let car_id = document.forms["carRequestApprove"]["car_id"].value;
            if (driver_id === 0) {
                alert("Driver must be Selected");
                return false;
            }
            if (car_id === 0) {
                alert("Car must be Selected");
                return false;
            }
        }
    });


</script>
</body>
</html>