<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Registration | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" th:href="@{/images/car-logo.png}" type="image">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 h-auto min-vh-100" id="sidebar_div"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName}, currentUserLogo=${currentUserLogo})}"></div>
    <div class="col-md-10" id="content_div">
        <div class="" th:insert="~{navbar :: navbar}"></div>

        <div class="container mt-4">
            <div class="row">
                <!-- Message Input -->
                <div class="col-md-12 mb-3">
                    <div class="px-3">
                        <form class="row g-3" csrf method="POST" th:action="@{/input-chat}" th:object="${chat}">
                            <div class="col-md-12 px-1">
                                <label class="form-label" for="input-chat">Enter your query</label>
                                <span class="text-danger">*</span>
                                <textarea class="form-control" id="input-chat" name="input_text" placeholder="Enter your Query"
                                          required></textarea>
                                <p>Hint: for create schedule: Please make a car schedule from ABC to XYZ at 22-05-2024
                                    02:35 pm</p>
                            </div>
                            <div class="">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="empRegModelLabel" class="modal fade" id="carRegModel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="empRegModelLabel">Car Registration Form</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body px-3">
                <form class="row g-3" csrf method="POST" th:action="@{/car-registration-form}" th:object="${car}">
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_name">Car Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_name" name="car_name" placeholder="Enter Car Name" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_no">Car No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_no" name="car_no" placeholder="Enter Car No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="engine_no">Car Engine No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="engine_no" name="engine_no" placeholder="Enter Car Engine No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="chassis_no">Car Chassis No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="chassis_no" name="chassis_no" placeholder="Enter Car Chassis No" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="owner_name">Car Owner Name</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="owner_name" name="owner_name" placeholder="Enter Car Owner Name" required
                               type="text">
                    </div>
                    <div class="col-md-12 px-1">
                        <label class="form-label" for="car_color">Car Color</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="car_color" name="car_color" placeholder="Enter Car Color" required
                               type="text">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    //Active Menu
    document.getElementById('car-registration').classList.add('active');


</script>
</body>
</html>