<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" th:href="@{/images/car-logo.png}" type="image">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName}, currentUserLogo=${currentUserLogo}, currentUserType=${user_type})}"></div>
    <div class="col-md-10 col-sm-10 col-lg-10">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0 px-2 text-white">
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex p-1 justify-content-center">Total Employee: &nbsp;<span class="fw-bold"
                                                                                                th:text="${totalEmployee}"></span></span>
                    <span class="d-flex p-1 justify-content-center">Total Officer: &nbsp;<span class="fw-bold"
                                                                                               th:text="${totalOfficer}"></span></span>
                    <span class="d-flex p-1 justify-content-center">Total Driver: &nbsp;<span class="fw-bold"
                                                                                              th:text="${totalDriver}"></span></span>
                    <a href="/employee">
                        <button class="btn align-middle btn w-100 p-1 btn-dark">Goto Report</button>
                    </a>
                </div>
            </div>
            <div th:unless="${user_type == 'USER'}" class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex align-middle p-1 justify-content-center">Total Car: &nbsp;<span class="fw-bold"
                                                                                                        th:text="${totalCar}"></span></span>
                    <a href="/car">
                        <button class="btn align-middle btn w-100 p-1 btn-dark">Goto Report</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex align-middle p-1 justify-content-center">Total Approve Schedule: &nbsp;<span
                            class="fw-bold" th:text="${totalApproveSchedule}"></span></span>
                    <span class="d-flex align-middle p-1 justify-content-center fw-bold">Total Non-Approve Schedule: &nbsp;<span
                            class="fw-bold" th:text="${totalNonApproveSchedule}"></span></span>
                    <a href="/car-request">
                        <button class="btn align-middle btn w-100 p-1 btn-dark">Goto Report</button>
                    </a>
                </div>
            </div>
            <div th:unless="${user_type == 'USER'}" class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex align-middle p-1 justify-content-center">Total Car Expense (BDT): &nbsp;<span
                            class="fw-bold" th:text="${totalCarExpense}"></span></span>
                    <a href="/car-expense">
                        <button class="btn align-middle btn w-100 p-1 btn-dark">Goto Report</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex align-middle p-1 justify-content-center">Total Driver Duty Bill (BDT): &nbsp;<span
                            class="fw-bold" th:text="${totalDriverBill}"></span></span>
                    <a href="/duty-payment">
                        <button th:unless="${user_type == 'USER'}" class="btn align-middle btn w-100 p-1 btn-dark">Goto Report</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    document.getElementById('dashboard').classList.add('active');
</script>
</body>
</html>