<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Expense Payment | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="icon" th:href="@{/images/car-logo.png}" type="image">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 h-auto min-vh-100" id="sidebar_div"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName}, currentUserLogo=${currentUserLogo}, currentUserType=${user_type})}"></div>
    <div class="col-md-10" id="content_div">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0">
            <h2 class="justify-content-center d-flex">Car Expense Payment</h2>
            <hr>
            <!--              Car Expense  Form -->
            <div th:if="${user_type == 'ACCOUNTS'}">
                <button class=" btn py-2 mx-2 btn-dark col-md-3" data-bs-target="#expensePaymentModal" data-bs-toggle="modal"
                        type="button">Add Car Expense Payment
                </button>
                <h6 class="bg-success justify-content-center d-flex text-white p-2 mt-2" th:if="${success}"
                    th:text="${success}">
                </h6>
                <hr>
            </div>
        </div>
        <!--            Car Report-->
        <div class="row p-2 m-0 ">
            <table class="table table-hover table-striped table-bordered dataTable no-footer">
                <thead class="bg-primary text-center">
                <tr role="row">
                    <th class="align-middle">SL#</th>
                    <th class="align-middle">Date</th>
                    <th class="align-middle">Driver</th>
                    <th class="align-middle">Purpose</th>
                    <th class="align-middle">Amount</th>
                    <th class="align-middle">Transaction No</th>
                    <th class="align-middle">Transaction Fee</th>
                    <th class="align-middle">Payment Method</th>
                    <th class="align-middle">Note</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" th:each="list, i : ${expensePaymentList}">
                    <th scope="row" th:text="${i.count}"></th>
                    <td class="text-center" th:text="${list.date}"></td>
                    <td class="text-center" th:text="${list.driver.name}"></td>
                    <td class="text-center" th:text="${list.purpose}"></td>
                    <td class="text-center" th:text="${list.amount}"></td>
                    <td class="text-center" th:text="${list.transaction_no}"></td>
                    <td class="text-center" th:text="${list.transaction_fee}"></td>
                    <td class="text-center" th:text="${list.payment_method}"></td>
                    <td class="text-center" th:text="${list.note}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="carExpenseModalLabel" class="modal fade" id="expensePaymentModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="carExpenseModalLabel">Expense Payment Form</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body px-3">
                <form class="row g-3" csrf enctype="multipart/form-data" th:action="@{/expense-payment-form}"
                      th:method="POST" th:object="${expensePayment}">
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="driver_id">Select Driver</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="driver_id" name="driver_id" required>
                            <option th:each="driver : ${drivers}"
                                    th:text="${driver.name}"
                                    th:value="${driver.id}">
                                <input id="driver_name" name="driver_name" th:value="${driver.name}" type="hidden">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="balance_">Current Balance</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="balance_" name="balance" readonly required type="number">
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="date">Date</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="date" name="date" placeholder="Enter Date" required
                               type="date">
                    </div>
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="purpose">Purpose</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="purpose" name="purpose" required>
                            <option selected value="0">Choose...</option>
                            <option value="CNG">CNG</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Service & Repair">Service & Repair</option>
                            <option value="Toll">Toll</option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="amount">Amount</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="amount" min="1" name="amount" placeholder="Enter Amount"
                               type="number">
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="transaction_no">Transaction No</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="transaction_no" name="transaction_no" placeholder="Enter Transaction No" required
                               type="text">
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="transaction_fee">Transaction Fee</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="transaction_fee" name="transaction_fee" placeholder="Enter Transaction Fee" required
                               type="number">
                    </div>
                    <div class="col-md-6 px-2">
                        <label class="form-label" for="payment_method">Payment Method</label>
                        <span class="text-danger">*</span>
                        <select class="form-select" id="payment_method" name="payment_method" required>
                            <option selected value="0">Choose...</option>
                            <option value="Cash">Cash</option>
                            <option value="Mobile Banking">Mobile Banking</option>
                            <option value="Bank">Bank</option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label class="form-label" for="note">Note</label>
                        <span class="text-danger">*</span>
                        <input class="form-control" id="note" name="note" placeholder="Enter Note" required
                               type="text">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    //Active Menu
    document.getElementById('expense-payment').classList.add('active');
    // For Approve Request


    $(document).ready(function() {
        // For Driver Balance
        const driverSelectElement = document.getElementById('driver_id');
        driverSelectElement.addEventListener('change', handleDriverSelection);
        function handleDriverSelection(event) {
            const selectedDriverID = event.target.value;
            console.log('Selected driver ID:', selectedDriverID);
            const balanceInput = document.getElementById('balance_');

            $.ajax({
                type: "GET",
                url: "/api/employee/" + selectedDriverID,
                dataType: "json", // Specify JSON data type
                success: function(employee) {
                    console.log(employee.balance);
                    balanceInput.value = employee.balance;
                }
            });


        }


        $(".approve-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            document.getElementById("schedule_id").value = scheduleId;
        });
        $(".cancel-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            $.ajax({
                type: "PUT",
                url: "/api/carSchedule/" + scheduleId,
                dataType: "json", // Specify JSON data type
                success: function() {
                    console.log("Success");
                }
            });
        });


        function validateForm() {
            let driver_id = document.forms["carRequestApprove"]["driver_id"].value;
            let car_id = document.forms["carRequestApprove"]["car_id"].value;
            if (driver_id === 0) {
                alert("Driver must be Selected");
                return false;
            }
            if (car_id === 0) {
                alert("Car must be Selected");
                return false;
            }
        }
    });


</script>
</body>
</html>