<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Expense Payment | Car Management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 h-auto min-vh-100" id="sidebar_div"
         th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName})}"></div>
    <div class="col-md-10" id="content_div">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0">
            <h2 class="justify-content-center d-flex">Car Expense Payment</h2>
            <hr>
            <!--              Car Expense  Form -->
            <div>
                <button type="button" class=" btn py-2 mx-2 btn-dark col-md-3" data-bs-toggle="modal"
                        data-bs-target="#expensePaymentModal">Add Car Expense Payment
                </button>
                <h6 class="bg-success justify-content-center d-flex text-white p-2 mt-2" th:if="${success}"
                    th:text="${success}">
                </h6>
                <hr>
            </div>
        </div>
        <!--            Car Report-->
        <div class="row p-2 m-0 ">
            <table class="table table-hover table-striped table-bordered dataTable no-footer">
                <thead class="bg-primary text-center">
                <tr role="row">
                    <th class="align-middle">SL#</th>
                    <th class="align-middle">Date</th>
                    <th class="align-middle">Driver</th>
                    <th class="align-middle">Purpose</th>
                    <th class="align-middle">Amount</th>
                    <th class="align-middle">Transaction No</th>
                    <th class="align-middle">Transaction Fee</th>
                    <th class="align-middle">Payment Method</th>
                    <th class="align-middle">Note</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" th:each="list, i : ${expensePaymentList}">
                    <th scope="row" th:text="${i.count}"></th>
                    <td class="text-center" th:text="${list.date}"></td >
                    <td class="text-center" th:text="${list.driver.name}"></td >
                    <td class="text-center" th:text="${list.purpose}"></td >
                    <td class="text-center" th:text="${list.amount}"></td >
                    <td class="text-center" th:text="${list.transaction_no}"></td >
                    <td class="text-center" th:text="${list.transaction_fee}"></td >
                    <td class="text-center" th:text="${list.payment_method}"></td >
                    <td class="text-center" th:text="${list.note}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="expensePaymentModal" tabindex="-1" aria-labelledby="carExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="carExpenseModalLabel">Expense Payment Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-3">
                <form class="row g-3" action="/expense-payment-form" enctype="multipart/form-data" csrf method="POST" th:object="${expensePayment}">
                    <div class="col-md-6 px-2">
                        <label for="driver_id" class="form-label">Select Driver</label>
                        <span class="text-danger">*</span>
                        <select id="driver_id" name="driver_id" required class="form-select">
                            <option th:each="driver : ${drivers}"
                                    th:value="${driver.id}"
                                    th:text="${driver.name}">
                                <input type="hidden" id="driver_name" name="driver_name" th:value="${driver.name}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="balance_" class="form-label">Current Balance</label>
                        <span class="text-danger">*</span>
                        <input type="number" name="balance" class="form-control" readonly required id="balance_">
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="date" class="form-label">Date</label>
                        <span class="text-danger">*</span>
                        <input type="date" name="date" class="form-control" required id="date"
                               placeholder="Enter Date">
                    </div>
                    <div class="col-md-6 px-2">
                        <label for="purpose" class="form-label">Purpose</label>
                        <span class="text-danger">*</span>
                        <select id="purpose" name="purpose"  required class="form-select">
                            <option value="0" selected>Choose...</option>
                            <option value="CNG">CNG</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Service & Repair">Service & Repair</option>
                            <option value="Toll">Toll</option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="amount" class="form-label">Amount</label>
                        <span class="text-danger">*</span>
                        <input type="number" min="1" name="amount" class="form-control" id="amount"
                               placeholder="Enter Amount">
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="transaction_no" class="form-label">Transaction No</label>
                        <span class="text-danger">*</span>
                        <input type="text" name="transaction_no" class="form-control" required id="transaction_no"
                               placeholder="Enter Transaction No">
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="transaction_fee" class="form-label">Transaction Fee</label>
                        <span class="text-danger">*</span>
                        <input type="number" name="transaction_fee" class="form-control" required id="transaction_fee"
                               placeholder="Enter Transaction Fee">
                    </div>
                    <div class="col-md-6 px-2">
                        <label for="payment_method" class="form-label">Payment Method</label>
                        <span class="text-danger">*</span>
                        <select id="payment_method" name="payment_method"  required class="form-select">
                            <option value="0" selected>Choose...</option>
                            <option value="Cash">Cash</option>
                            <option value="Mobile Banking">Mobile Banking</option>
                            <option value="Bank">Bank</option>
                        </select>
                    </div>
                    <div class="col-md-6 px-1">
                        <label for="note" class="form-label">Note</label>
                        <span class="text-danger">*</span>
                        <input type="text" name="note" class="form-control" required id="note"
                               placeholder="Enter Note">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<!-- Popper.JS -->
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script type="text/javascript">
    //Active Menu
    document.getElementById('expense-payment').classList.add('active');
    // For Approve Request


    $(document).ready(function() {
        // For Driver Balance
        const driverSelectElement = document.getElementById('driver_id');
        driverSelectElement.addEventListener('change', handleDriverSelection);
        function handleDriverSelection(event) {
            const selectedDriverID = event.target.value;
            console.log('Selected driver ID:', selectedDriverID);
            const balanceInput = document.getElementById('balance_');

            $.ajax({
                type: "GET",
                url: "/api/employee/" + selectedDriverID,
                dataType: "json", // Specify JSON data type
                success: function(employee) {
                    console.log(employee.balance);
                    balanceInput.value = employee.balance;
                }
            });


        }


        $(".approve-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            document.getElementById("schedule_id").value = scheduleId;
        });
        $(".cancel-request-button").click(function (){
            const scheduleId = $(this).data("request-id");
            console.log(scheduleId);
            $.ajax({
                type: "PUT",
                url: "/api/carSchedule/" + scheduleId,
                dataType: "json", // Specify JSON data type
                success: function() {
                    console.log("Success");
                }
            });
        });


        function validateForm() {
            let driver_id = document.forms["carRequestApprove"]["driver_id"].value;
            let car_id = document.forms["carRequestApprove"]["car_id"].value;
            if (driver_id === 0) {
                alert("Driver must be Selected");
                return false;
            }
            if (car_id === 0) {
                alert("Car must be Selected");
                return false;
            }
        }
    });


</script>
</body>
</html>