<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login | Car Management</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="m-auto">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-2"></div>
          <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
              <img th:src="@{/images/Gari-Dekho.png}" height="120px">
            </div>
            <div class="col-lg-12 login-title">
              Login Form
            </div>
              <div class="col-lg-12 login-form">
                <form class="px-5" action= "/login-form" csrf method="POST" th:object="${login}">
                  <div class="form-group">
                    <label for="email" class="form-control-label">E-MAIL</label>
                    <input type="email" id="email" name="email" class="form-control" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-control-label">PASSWORD</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                  </div>

                  <div class="col-lg-12">
                    <div class="col-lg-12 mb-3 login-btm login-text">
                      <h6 class="text-danger" th:if="${failed}" th:text="${failed}"></h6>
                    </div>
                    <div class="col-lg-12 text-center login-btm login-button">
                      <button type="submit" class="btn btn-outline-primary rounded">LOGIN</button>
                    </div>
                  </div>
                </form>
              </div>
            <div class="col-lg-3 col-md-2"></div>
          </div>
        </div>
    </div>
    </div>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <!-- Popper.JS -->
  <script type="text/javascript"  th:src="@{/js/popper.min.js}"></script>
  <!-- Bootstrap JS -->
  <script type="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>