<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sidebar</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

</head>

<body>

    <div class="h-100 min-vh-100 sidebar-header" id="sidebar" th:fragment="sidebar">
        <!-- Sidebar Holder -->
        <nav >
            <div class="p-2">
                <img th:src="@{/images/Gari-Dekho.png}" height="70px" class="rounded mx-auto d-block">
                <hr>
                <h6 th:text="${currentUserName}" class="d-flex justify-content-center"></h6>
                <hr>
            </div>
            <div class="mt-2 sidebar-inner px-2 pt-1 nav-item">
                <ul class="nav nav-pills flex-column pt-1 pt-md-0">
                    <li class="nav-item my-1">
                        <a href="/" id="dashboard" class="nav-link text-white fs-700">
                            <span class="px-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/employee" id="emp-registration" class="nav-link text-white fs-700">
                            <span class="px-1">Employee</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/car" id="car-registration" class="nav-link text-white fs-700">
                            <span class="px-1">Car</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/car-request" id="car-request" class="nav-link text-white fs-700">
                            <span class="px-1">Car Request</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/car-schedule" id="car-schedule" class="nav-link text-white fs-700">
                            <span class="px-1">Car Schedule</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/car-expense" id="car-expense" class="nav-link text-white fs-700">
                            <span class="px-1">Car Expense</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/expense-payment" id="expense-payment" class="nav-link text-white fs-700">
                            <span class="px-1">Expense Payment</span>
                        </a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="/duty-payment" id="duty-payment" class="nav-link text-white fs-700">
                            <span class="px-1">Duty Payment</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <!-- Popper.JS -->
    <script type="text/javascript"  th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script type="text/javascript">

    </script>
</body>

</html>